@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster|Audiowide|Great+Vibes|Comfortaa|Orbitron|Tajawal|Livvic|Fira+Sans|Unica+One|Rajdhani");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pinapple: #514663;
    --mummy-tomb: #808D8E;
    --old-lavender: #766C7F;
    --lavender-purple: #947EB0;
    --blue-bell: #A3A5C3;
    --pastel-blue: #A9D2D5;
    --columbis-blue: #C3DFE0;
    --old-gold: #B8B42D;
    --olive-drab: #697A21;
    --wild-blue: #96ADC8;
    --tea-green: #D7FFAB;
    --unmellow-yellow: #FCFF6C;
    --brown-yellow: #D89D6A;
    --tuscan-red: #6D454C;
    --spring-bud: #CACF85;
    --cosmic-latte: #FFFCE8;
    --mount-pink: #996888;
    --sapphire-blue: #006BA6;
    --great-vibes: 'Great Vibes', cursive;
    --comfortaa: 'Comfortaa', cursive;
    --orbitron: 'Orbitron', sans-serif;
    --audiowide: 'Audiowide', cursive;
    --rajdhani: 'Rajdhani', sans-serif;
}

html {
    font-family: var(--rajdhani);
    font-size: 10px;
}


.main-nav {
    height: 100vh;
    width: 100%;
    background-color: var(--old-gold);
    display: flex;
    position: fixed;
    z-index: -1;
    top: -100vh;
    transition: top .5s ease-in-out;
}

.nav-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

.nav-link {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--cosmic-latte);
    letter-spacing: 1.2rem;
}

.nav-item {
    margin-bottom: 2rem;
}

.btn-line {
    background: var(--tuscan-red);
    width: 3rem;
    height: 0.3rem;
    transition: transform .5s background;
}

.btn-line:not(:last-child) {
    margin-bottom: .6rem;
}

.nav-btn {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    cursor: pointer;
}

.checkbox:checked ~ label .btn-line-1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.checkbox:checked ~ label .btn-line-2 {
    opacity: 0;
}

.checkbox:checked ~ label .btn-line-3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.checkbox:checked ~ label .btn-line {
    background-color: var(--mount-pink);
}

.checkbox:checked ~ .main-nav {
    top: 0;
}


/* Circle */

section {
    background-color: var(--wild-blue);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40rem;
    height: 40rem;
    background-color: transparent;
    border-radius: 50%;
    border: .2rem solid var(--tuscan-red);
    z-index: -5;
}

.line {
    width: 50%;
    height: 0.2rem;
    background: var(--brown-yellow);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: right;
    animation: animate 20s linear infinite;
}

.line:before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--lavender-purple);
    border-radius: 50%;
    top: -1rem;
    left: -11rem;
    border: .2rem solid var(--tea-green);
}

.line:after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--lavender-purple);
    border-radius: 50%;
    top: -1rem;
    left: -11rem;
}


@keyframes animate {

    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}



